<section class="section section-default">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Template <strong>Updates</strong></h2>
				<p>
					Porto template is constantly being updated with new features and updates of the plugins that are included in the package.<br>
					If you have any suggestion for the next updates, just let us know.
				</p>
			</div>
			<div class="col-md-3">
				<img class="hidden-xs img-responsive" style="margin-top: -100px;" src="images/updates.png" alt="" data-appear-animation="fadeInRight">
			</div>
		</div>
	</div>
</section>