<div class="container">
		<% features = Array.new()
		data.features.each do |key, value|
			tuple = { "key" => key, "value" => value }
			features.push(tuple) %>
		<% end %>
	<div class="row">
		<div class="col-md-4">

			<%= partial "/partials/feature-pieces/feature-item-4", :locals => { :feature => features[0] } %>
			<%= partial "/partials/feature-pieces/feature-item-4", :locals => { :feature => features[1] } %>
		</div>
		<div class="col-md-4">
			<img src="images/mockup-porto.png" class="img-responsive mockup-landing-page mb-xl" alt="Porto" data-appear-animation="fadeInDown" data-appear-animation-delay="300">
		</div>

		<div class="col-md-4">
			<%= partial "/partials/feature-pieces/feature-item-4", :locals => { :feature => features[3] } %>
			<%= partial "/partials/feature-pieces/feature-item-4", :locals => { :feature => features[4] } %>
		</div>
	</div>
</div>