<div class="container">
	<div class="row mt-xl mb-xl">
		<div class="col-md-3">
			<img class="img-responsive mt-xl" src="images/top-quality-documentation.png" alt="" data-appear-animation="fadeInLeft">
		</div>
		<div class="col-md-9">
			<h2 class="mt-xl">Experienced <strong>Marketers</strong></h2>
			<p>
				Jesse Flores, our founder has been doing online sales and marketing for years. He knows how to segment customers and then deliver outstanding conent marketing that has resulted in tens of thousands of dollars in sales from his websites.
		</div>
	</div>
</div>