<div class="container">
	<div class="row mt-xl mb-xl">
		<div class="col-md-3">
			<img class="img-responsive mt-xl" src="images/top-quality-documentation.png" alt="" data-appear-animation="fadeInLeft">
		</div>
		<div class="col-md-9">
			<h2 class="mt-xl">Top Quality <strong>Documentation</strong></h2>
			<p>
				Porto comes with a very extensive and as thorough as possible documentation where each section of the theme and its features are described in a easy way to understand, it also comes with a lot of screenshots to help you. If the documentation is not enough contact us on our support forum.
		</div>
	</div>
</div>