<section class="section section-default">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Experienced <strong>Web Developers</strong></h2>
				<p>
					Our partner, David Smith has been building websites for 20 years. He has experience building websites for companies like Nissan, Microsoft, and the State of Michigan as well as local companies like Craig Mitchell Smith Glass and Ingham Health Plan Corporation.
				</p>
			</div>
			<div class="col-md-3">
				<img class="hidden-xs img-responsive" style="margin-top: -100px;" src="/images/updates.png" alt="" data-appear-animation="fadeInRight">
			</div>
		</div>
	</div>
</section>