<div class="container">
	<div class="row">
		<div class="col-md-12 center mb-xl">
			<h2 class="mb-sm mt-md">Fortune 500 speed, features, and security at small business pricing</h2>
			<p class="lead mb-xl">We have built websites for 1-person companies all the way up to websites for multi-billion dollar companies. We care about reliability, speed, and security so you can focus on what you love.</p>
			<h4 class="heading-primary alternative-font mt-xl pt-xl">Responsive <strong class="custom-underline">Customer Support</strong></h4>
		</div>
	</div>
</div>