<div class="container">
	<div class="row mt-xlg">
		<div class="col-md-5">
			<h2><strong>Who</strong> We Are</h2>
			<p>Helpful, tech-savvy, curious small business owners. We know tech can be hard to use and frustrating. Consumers have high demands for businesses technology. We know the last thing you 
				want is your already busy day to be hijacked by the call that your website is down or has been hacked. We work hard to make your website mobile-friendly, fast, and secure. </p>
		</div>
		<div class="col-md-7">
			<div class="progress-bars">
				<% data.progress.each do | key, value| %>

				<div class="progress-label">
					<span><%= key %></span>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-primary" data-appear-progress-animation="<%= value %>">
						<span class="progress-bar-tooltip"><%= value %></span>
					</div>
				</div>

				<% end %>
			</div>
		</div>
	</div>
</div>