---
title: Frequently Asked Questions | Cognite Labs 
---
<div role="main" class="main">

	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Pages</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h1>FAQ</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">

		<h2>Frequently Asked <strong>Questions</strong></h2>

		<div class="row">
			<div class="col-md-12">
				<p class="lead">
					We get these questions a lot so you might have them too.
				</p>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">

				<div class="toggle toggle-primary" data-plugin-toggle>
					<section class="toggle active">
						<label>Working With Us</label>
						<p>We are small business owners ourselves. We are probably under similar pressures. We know updating and maintaining websites can be a pain in the neck and take you away from doing what you love. We work as hard as we can to elminate that pain for you.</p>
					</section>

					<section class="toggle">
						<label>Can you do...?</label>
						<p>We are techy people, yes we can do what you want with the caveat that you have the budget for it. We have put together packages to cover common needs and provide clear pricing. Going outside of those packages works like going off menu at restaurants. You can do it, but it is a lot of extra work for us and we need to pass that cost along.</p>
					</section>

					<section class="toggle">
						<label>Can you change this text?</label>
						<p>Yes. If you are on any of our monthly plans then submit a change order and we will start looking into it right away. If you aren't on a monthly plan we will bill you a flat fee of $50.</p>
					</section>

					<section class="toggle">
						<label>Can you add this page?</label>
						<p>Yes. If you are on our bronze plan submit a change order and we will start looking into it right away. If you aren't on a monthly plan we will bill you a flat fee of $200.</p>
					</section>

					<section class="toggle">
						<label>Can you modify this image?</label>
						<p>Yes. If you are on any of our plans submit a change order and we will modify the image for you. If you aren't on a monthly plan we will bill you a flat fee of $100.</p>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>

