<div class="feature-box feature-box-style-2 reverse mb-xl" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
	<div class="feature-box-icon">
		<i class="<%=feature['value'].icon %>"></i>
	</div>
	<div class="feature-box-info">
		<h4 class="mb-sm"><%= feature["key"] %></h4>
		<p class="mb-lg"><%=feature["value"].description %></p>
	</div>
</div>